.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 22px;
  padding: 10px;
}

.quoteBox { 
  font-family: 'Dancing Script', cursive;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 3px;
  max-width: 600px;
  position: relative;
  box-shadow: 2px 2px 10px #0005;
  transition: all ;
  transition: transform 500ms ease;

}

.quoteBox__author {
  text-align: right;
  margin: 15px 0;
}

.quoteBox__icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 40px;
}

.quoteBox__button {
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 10%;
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 auto;
  cursor: pointer;
  transition: transform 300ms ease;
}

.quoteBox__button:hover {
  transform: scale(1.2);
}
p.quoteBox__quote {
  font-family: 'Dancing Script', cursive;
  text-shadow:88, 1px 1px 10px rgb(0, 0, 0);
}
.quoteBox:hover {
  transform: scale(1.1);
}